<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Edit Job</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active">Dispatch</li>
        </ol>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card wizard-content">
                <div class="card-body tab-wizard vertical wizard-circle wizard clearfix form-material">
                    <form [formGroup]="userForm">
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="checkbox" (change)="FieldsChange($event)">
                                <label style="padding: 10px;">Recursive Booking</label>
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>User </label>
                                    <!-- <input type="input" class="form-control" formControlName="driverName">  -->
                                    <!-- <select class="form-control  custom-select" formControlName="user" id="user" #userSelect
                                    (change)='onSelected(userSelect.value)'>
                                    <option value="">--Select User--</option>
                                    <option *ngFor="let temp of tempData" value="{{temp._id}}">{{temp.name}}
                                    </option>
                                </select> -->

                                    <!-- <input type="text" class="form-control border-0" placeholder="Enter Name"
                                    formControlName="name" /> -->
                                    <div class="input-group">
                                        <input type="text " *ngIf="!isOver" class="form-control border-0"
                                            placeholder="Enter Name or Pin" formControlName="name"
                                            (keyup)="handleSearch()" />
                                        <div class="input-group-append">
                                            <div class="input-group-text border-0 bg-transparent"><button
                                                    (click)="onHandleSelect('new',{})"
                                                    class="btn btn-outline-success btn-sm">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isAutoCompleteShown" class="list-group autocomplteList">
                                        <a *ngFor="let item of searchResult" (click)="onHandleSelect('click',item)"
                                            href="javascript:void(0)" class="list-group-item list-group-item-action">
                                            <img src="{{ imagePath }}{{ item.imagefile || 'profile-pic.jpg' }}" alt=""
                                                class="profile-pic" />{{ item?.name }} -
                                            {{ item?.phonenumber }}</a>
                                    </div>
                                    <span class="text-danger"
                                        *ngIf="userForm.controls['name'].hasError('required') && (userForm.controls['name'].dirty || userForm.controls['name'].touched)">This
                                        field is required</span>

                                </div>
                                <!-- <div class="col-md-12" *ngIf="hide">
    
                                <h6>Selected User Email : {{userEmail}} & Phonenumber : {{userPhone}}</h6>
    
                            </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">User Email</label>
                                            <input type="text" class="form-control" formControlName="email">
                                            <!-- <span class="text-danger"
                                            *ngIf="userForm.controls['email'].hasError('required') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">This
                                            field is required</span> -->
                                            <span class="text-danger"
                                                *ngIf="userForm.controls['email'].hasError('pattern') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Please
                                                enter valid email address</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phonenumber">Phone Number</label>
                                            <input type="tel" class="form-control" formControlName="phonenumber">
                                            <!-- <span class="text-danger"
                                            *ngIf="userForm.controls['phonenumber'].hasError('required') && (userForm.controls['phonenumber'].dirty || userForm.controls['phonenumber'].touched)">This
                                            field is required</span> -->
                                            <span class="text-danger"
                                                *ngIf="userForm.controls['phonenumber'].hasError('pattern')">This
                                                field is required 10 digits</span>
                                        </div>
                                    </div>
                                    <!-- <h6>Selected User Email : {{userEmail}} & Phonenumber : {{userPhone}}</h6> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" value="09:00" class="form-control" formControlName="name">
                                <span class="text-danger"
                                    *ngIf="userForm.controls['name'].hasError('required') && (userForm.controls['name'].dirty || userForm.controls['name'].touched)">This
                                    field is required</span>
                                <span class="text-danger"
                                    *ngIf="userForm.controls['name'].hasError('validOnlyCharField') && (userForm.controls['name'].dirty || userForm.controls['name'].touched)">This
                                    field is required only charecter</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" value="09:00" class="form-control" formControlName="email">
                                <span class="text-danger"
                                    *ngIf="userForm.controls['email'].hasError('required') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">This
                                    field is required</span>
                                <span class="text-danger"
                                    *ngIf="userForm.controls['email'].hasError('pattern') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">Please
                                    enter valid email address</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Phone Number</label>
                                <input type="text" value="09:00" class="form-control" formControlName="phonenumber">
                                <span class="text-danger"
                                    *ngIf="userForm.controls['phonenumber'].hasError('required') && (userForm.controls['phonenumber'].dirty || userForm.controls['phonenumber'].touched)">This
                                    field is required</span>
                                <span class="text-danger" *ngIf="userForm.controls['phonenumber'].hasError('pattern')">This
                                    field is required 10 digits</span>
                            </div>
                        </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Driver </label>
                                    <!-- <input type="input" class="form-control" formControlName="driverName">  -->
                                    <select class="form-control  custom-select" formControlName="driverdetails"
                                        id="driverdetails" #mySelect (change)='onOptionsSelected(mySelect.value)'>
                                        <option value="">--Select Driver--</option>
                                        <option *ngFor="let dr of guests" value="{{dr._id}}">{{dr.name}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="userForm.controls['driverdetails'].hasError('required') && (userForm.controls['driverdetails'].dirty || userForm.controls['driverdetails'].touched)">This
                                        field is required</span>
                                </div>
                                <div class="col-md-12" *ngIf="show==true">

                                    <h5>You have selected {{carType}} <span *ngIf="carType=='Mini'">car</span>
                                        driver
                                    </h5>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateOfJourney">Date Of Journey</label>
                                    <!-- <input type="date" class="form-control" formControlName="dateOfJourney" [min]="minDate"> -->
                                    <!-- <input type="date" class="form-control" formControlName="dateOfJourney" > -->
                                    <input placeholder="YYYY-MM-DD" type="text" class="form-control" [minDate]="minDate"
                                        formControlName="dateOfJourney" #dp="bsDatepicker" bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                                    <span class="text-danger"
                                        *ngIf="userForm.controls['dateOfJourney'].hasError('required') && (userForm.controls['dateOfJourney'].dirty || userForm.controls['dateOfJourney'].touched)">This
                                        field is required</span>
                                    <!-- <span class="text-danger"
            *ngIf="userForm.controls['dateOfJourney'].hasError('pattern')">Fill the address not below 16 year</span> -->
                                </div>

                            </div>
                            <div class="col-md-6" *ngIf="rbData==true">
                            <div class="form-group">
                            <label for="dayOfJourney">Day Of Journey</label>
                            <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Day'"
                                [settings]="dropdownSettings" [data]="cities" formControlName="dayOfJourney"
                                [disabled]="disabled" (onSelect)="onItemSelect($event)">
                            </ng-multiselect-dropdown>
                            <span class="text-danger"
                                *ngIf="userForm.controls['dayOfJourney'].hasError('required') && (userForm.controls['dayOfJourney'].dirty || userForm.controls['city'].touched)">This
                                field is required</span>
                            </div>

                        </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="timeOfJourney">Time Of Journey</label>
                                    <input type="time" value="09:00" class="form-control"
                                        formControlName="timeOfJourney">
                                    <span class="text-danger"
                                        *ngIf="userForm.controls['timeOfJourney'].hasError('required') && (userForm.controls['timeOfJourney'].dirty || userForm.controls['timeOfJourney'].touched)">This
                                        field is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pickup Location </label>
                                    <!-- <input type="text" class="form-control" formControlName="pickUpLocation"> -->
                                    <input type="text" class="form-control" id="pickuploc"
                                        formControlName="pickUpLocation" placeholder="Enter pickup location"
                                        class="form-control" (keydown.enter)="$event.preventDefault()" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" #Pickuplocation>
                                    <span class="text-danger"
                                        *ngIf="userForm.controls['pickUpLocation'].hasError('required') && (userForm.controls['pickUpLocation'].dirty || userForm.controls['pickUpLocation'].touched)">This
                                        field is required</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Drop Location </label>
                                    <!-- <input type="text" class="form-control" formControlName="dropUpLocation"> -->
                                    <input type="text" class="form-control" id="droploc"
                                        formControlName="dropUpLocation" placeholder="Enter drop location"
                                        class="form-control" (keydown.enter)="$event.preventDefault()" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" #DropLocation>
                                    <span class="text-danger"
                                        *ngIf="userForm.controls['dropUpLocation'].hasError('required') && (userForm.controls['dropUpLocation'].dirty || userForm.controls['dropUpLocation'].touched)">This
                                        field is required</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Intermediate Location </label>
                                    <div class="input-group">
                                        <input type="text" name="pac-input" class="form-control" id="pac-input"
                                            placeholder="Enter pickup and drop-off location" class="form-control"
                                            (keydown.enter)="$event.preventDefault()" autocorrect="off"
                                            autocapitalize="off" spellcheck="off" #Location>
                                        <div class="input-group-append">
                                            <div class="input-group-text border-0 bg-transparent"><button
                                                    (click)="addDispatchJob()"
                                                    class="btn btn-outline-primary btn-sm">+</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Price ($)</label>
                                    <!-- <input type="text" class="form-control" formControlName="pickUpLocation"> -->
                                    <input type="text" class="form-control" id="price" formControlName="price">

                                    <span class="text-danger"
                                        *ngIf="userForm.controls['price'].hasError('required') && (userForm.controls['price'].dirty || userForm.controls['price'].touched)">This
                                        field is required</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group selected_location">
                                    <li class="list-group-item" *ngFor="let item of firstdis">{{item.loc}} <button
                                            type="button" (click)="rm(item)" class="btn btn-outline-danger btn-sm"><i
                                                class="fa fa-minus"></i></button></li>
                                </ul>
                                <h2>{{td}} Km</h2>
                            </div>
                            <div class="col-md-6">
                                <label>Job details send by</label>
                                <div class="form-group">
                                    <select class="form-control custom-select" formControlName="mailby" id="mailby">
                                        <option value="">No notification</option>
                                        <option value="Email">Email</option>
                                        <option value="Phone">Phone</option>
                                    </select>
                                </div>
                                <!-- <span class="text-danger"
                                    *ngIf="userForm.controls['mailby'].hasError('required') && (userForm.controls['mailby'].dirty || userForm.controls['mailby'].touched)">This
                                    field is required</span> -->
                                <span class="text-danger" *ngIf="mailbyMsg != ''">{{mailbyMsg}}</span>
                            </div>
                        </div>

                        <!-- <div class="row">
                        <div class="col-md-12">
                            <div formArrayName="midlocation">
                                <div class="container mb-12" *ngFor="let container of midlocation().controls; let i=index"
                                    [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="form-group">
                                                <label>Intermideate Location : {{i+1}}</label>
                                           
                                                <input type="text" class="form-control" formControlName="location"
                                                    placeholder="Enter pickup location" class="form-control"
                                                    (keydown.enter)="$event.preventDefault()" autocorrect="off"
                                                    autocapitalize="off" spellcheck="off" #Location id="{{'location_'+i}}">
                                            </div>
                                        </div>
                                        <div class="col-1" *ngIf="i>=1">
                                            <button type="button" (click)="removeContainer(i)"><i
                                                    class="fa fa-minus-circle"></i></button>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" (click)="addDispatchJob()"><i class="fa fa-plus-circle"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                        <div class="actions clearfix px-0 text-right">
                            <button class="btn waves-effect waves-light btn-outline-primary" [disabled]="isDisabled"
                                (click)="onHnadleSubmit()">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <div [style.display]="delModal ? 'block' : 'none'" class="modal" id="myModal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#00a19a; color: #fff;">
                    <h4 class="modal-title">Please confirm..</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="dmhide()">&times;</button>
                </div>

                <div class="modal-body">

                    Do You want return booking

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="decline()">Cencel</button>
                    <button type="button" class="btn btn-primary" (click)="accept()">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>