.chat-list li .chat-time {
    width: 132px;
}

.style-none {
    overflow-y: auto;
    max-height: 490px;
}

.chat-rbox {
    height: 395px;
}

.chat-main-box .chat-right-aside .chat-list {
    max-height: 395px;
    overflow-y: auto;
}