<div class="d-flex justify-content-center align-items-center h-100 bg-green">
    <div class="container-fluid h-100">
        <div class="row h-100 ">
            <div
                class="col-12 col-lg-6 ht-100 d-flex align-items-center justify-content-center flex-column container-lft ht-50">

                <figure class="mx-logo m-auto">
                    <img class="w-100" src="../../../../assets/images/logo-new.svg" alt="TotalCab" />
                </figure>

                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
                <div class="circle-container">
                    <div class="circle"></div>
                </div>
            </div>
            <!-- start: register form -->
            <div class="col-12 col-lg-6 d-flex align-items-center align-self-center ht-50">
                <form [formGroup]="forgetPasswordForm" class="form login w-50 mx-auto" (submit)="afterSubmit()">
                    <h2 class="text-center bold ">Forgot Password</h2>
                    <div class="form__field">
                        <label for="login__username"><i class="fa fa-user"></i></label>
                        <input id="login__username" formControlName="email" type="text" class="form__input"
                            placeholder="Email" required />
                    </div>
                    <span *ngIf="forgetPasswordForm.status==='INVALID' && forgetPasswordForm.touched"
                        [ngStyle]="{color: 'red'}">
                        please fill all inputs</span>
                    <div class="form__field">
                        <input *ngIf="isSubmittng" type="submit" value="Procceeed" disabled />
                        <input *ngIf="!isSubmittng" type="submit" value="Procceeed" />
                    </div>
                    <h5 class="text-center bold ">Remember Your password ? <a href='/login'>Login</a>
                    </h5>
                </form>
                <!-- END : register form -->
            </div>
        </div>
    </div>
</div>